In [24]:
import pandas as pd
# Read data from file
df = pd.read_csv('adult.data.csv')
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [17]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df.groupby('race')['race'].count()
print(race_count)

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
Name: race, dtype: int64

In [18]:
# What is the average age of men?
average_age_men = round(df['age'][df['sex'] == 'Male'].mean(),1)
print(f"Average age of men: {average_age_men}")

Average age of men: 39.4

In [19]:
# What is the percentage of people who have a Bachelor's degree
percentage_bachelors = round(((df['education'][df['education'] =='Bachelors'].count()) / (df['education'].count()))*100,1)
print("Average age of men:", average_age_men)

Average age of men: 39.4

In [20]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?
# with and without `Bachelors`, `Masters`, or `Doctorate`

higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education = df[-df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

# percentage with salary >50K
higher_education_rich = round((higher_education['education'][higher_education['salary'] == '>50K'].count() / higher_education['education'].count())*100,1)
lower_education_rich = round((lower_education['education'][lower_education['salary'] == '>50K'].count() / lower_education['education'].count())*100,1)

print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")

Percentage with higher education that earn >50K: 46.5%
Percentage without higher education that earn >50K: 17.4%

In [21]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df['hours-per-week'][df['hours-per-week'] == 1].count()

rich_percentage = (df['hours-per-week'][(df['hours-per-week'] == 1) & (df['salary'] == '>50K')].count() / df['hours-per-week'][df['hours-per-week'] == 1].count())*100

print(f"Min work time: {min_work_hours} hours/week")
print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")

Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10.0%

In [22]:
# What country has the highest percentage of people that earn >50K?
highest_earning_country = (df[df['salary'] == '>50K'].groupby('native-country')['salary'].count() / df.groupby('native-country')['salary'].count()).sort_values(ascending=False).idxmax()
highest_earning_country_percentage = round(((df[df['salary'] == '>50K'].groupby('native-country')['salary'].count() / df.groupby('native-country')['salary'].count()).max())*100,1)

print("Country with highest percentage of rich:", highest_earning_country)
print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")

Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%

In [23]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')].groupby('occupation')['native-country'].count().idxmax()

print("Top occupations in India:", top_IN_occupation)

Top occupations in India: Prof-specialty